pkgbase = curl-impersonate-firefox-git
	pkgdesc = CLI tool & library for transferring data with URLs, compiled with NSS
	pkgver = r252.845db62
	pkgrel = 1
	url = https://github.com/lwthiker/curl-impersonate
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	license = MIT
	makedepends = cmake
	makedepends = curl
	makedepends = git
	makedepends = gyp
	makedepends = ninja
	depends = bash
	depends = ca-certificates
	depends = glibc
	depends = libidn2
	depends = libldap
	depends = libpsl
	depends = zlib
	depends = zstd
	provides = curl-impersonate-firefox
	provides = libcurl-impersonate-firefox
	provides = libcurl-impersonate-ff.so
	conflicts = curl-impersonate-firefox
	conflicts = curl-impersonate-bin
	conflicts = libcurl-impersonate-bin
	noextract = curl-8.1.1.tar.xz
	noextract = brotli-1.0.9.tar.gz
	noextract = nghttp2-1.56.0.tar.bz2
	noextract = nss-3.92.tar.gz
	source = curl-impersonate::git+https://github.com/lwthiker/curl-impersonate.git
	source = curl-8.1.1.tar.xz::https://curl.se/download/curl-8.1.1.tar.xz
	source = curl-8.1.1.tar.xz.asc::https://curl.se/download/curl-8.1.1.tar.xz.asc
	source = brotli-1.0.9.tar.gz::https://github.com/google/brotli/archive/refs/tags/v1.0.9.tar.gz
	source = nghttp2-1.56.0.tar.bz2::https://github.com/nghttp2/nghttp2/releases/download/v1.56.0/nghttp2-1.56.0.tar.bz2
	source = nss-3.92.tar.gz::https://ftp.mozilla.org/pub/security/nss/releases/NSS_3_92_RTM/src/nss-3.92-with-nspr-4.35.tar.gz
	validpgpkeys = 27EDEAF22F3ABCEB50DB9A125CC908FDB71E12C2
	sha256sums = SKIP
	sha256sums = 08a948e061929645597c1ef7194e07b308b22084ff03fa7400b465e6c05149e5
	sha256sums = 783be14d644d54e19be7a703c1781511f310024cce6bba4f363069cc5b6fa10e
	sha256sums = f9e8d81d0405ba66d181529af42a3354f838c939095ff99930da6aa9cdf6fe46
	sha256sums = 2f5dcdbf577a2df513a2464645484cc35d2e4d0733653d63193ae51db41def41
	sha256sums = 21c176bfffb6ec840b5f985c7f8f014682f4a2fb55b06924734172d5c0486dc5

pkgname = curl-impersonate-firefox-git
	depends = bash
	depends = ca-certificates
	depends = glibc
	depends = libidn2
	depends = libldap
	depends = libpsl
	depends = zlib
	depends = zstd
	depends = nss
